body {
    background-color: lightgreen;
}

header {
   border: 1px solid black;
   box-sizing: border-box;
   background-color: beige;
   box-shadow: 8px 8px 5px #444;
   text-align-last: justify;
}

#mainh1 {
    display: inline-block;
    font-size: 32px;
    padding-left: 40px;
}
 
 #pagelink {
     display: inline-block;
     font-size: 32px;
     padding-right: 40px;
}

#jobh2 {
    text-align: center;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    background-color: whitesmoke;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0px 5px 0px 5px;
    box-shadow: 8px 8px 5px #444;
}

#maincont {
    display: flex;
    align-items: center;
    justify-content: center;
}

#textcontainer {
    margin-left: 20%;
}

#descp {
    display: inline-block;
    border: 5px solid whitesmoke;
    box-sizing: content-box;
    background-color: whitesmoke;
    width: 75%;
    margin-top: 30px;
    box-shadow: 8px 8px 5px #444;
}

#skillsul {
    display: inline-block;
    text-align: center;
    border: 5px solid whitesmoke;
    box-sizing: content-box;
    background-color: whitesmoke;
    width: 75%;
    margin-top: 15px;
    box-shadow: 8px 8px 5px #444;
}

#quotep {
    display: inline-block;
    text-align: center;
    border: 5px solid whitesmoke;
    box-sizing: content-box;
    background-color: whitesmoke;
    width: 75%;
    margin-top: 15px;
    box-shadow: 8px 8px 5px #444;
}

#imgcontainer {
    margin-right: 25%;
}

#homeimg {
    display: inline-block;
    height: 300px;
    box-shadow: 8px 8px 5px #444;
}

#philocont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#philoimgdiv {
    margin-left: 15%;
}

#philoimg {
    display: inline-block;
    height: 400px;
    box-shadow: 8px 8px 5px #444;
}

#philotxt {
    margin-right: 15%;
    margin-left: 150px;
}

#philoh2 {
    display: inline-block;
    border: 5px solid whitesmoke;
    box-sizing: border-box;
    background-color: whitesmoke;
    width: fit-content;
    box-shadow: 8px 8px 5px #444;
}

#philop {
    display: inline-block;
    border: 5px solid whitesmoke;
    box-sizing: border-box;
    background-color: whitesmoke;
    box-shadow: 8px 8px 5px #444;

}

#fashioncont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#fashiontxt {
    margin-right: 150px;
    margin-left: 15%;
}

#fashionh2 {
    display: inline-block;
    border: 5px solid whitesmoke;
    box-sizing: border-box;
    background-color: whitesmoke;
    width: fit-content;
    box-shadow: 8px 8px 5px #444;
}

#fashionp {
    display: inline-block;
    border: 5px solid whitesmoke;
    box-sizing: border-box;
    background-color: whitesmoke;
    box-shadow: 8px 8px 5px #444;
}

#fashionimgdiv {
    margin-right: 15%;
}

#fashionimg {
    display: inline-block;
    height: 400px;
    box-shadow: 8px 8px 5px #444;
}